<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">	
	<link th:href="@{/css/content.css}" rel="stylesheet">
<title>Insert title here</title>	
	<script>
	    function validateForm() {
	        var title = document.getElementById("title").value.trim();
	        var detail = document.getElementById("detail").value.trim();
	
	        if (title === "" || detail === "") {
	            alert("タイトルと内容は必須項目です。");
	            return false;
	        }
	        return true;
	    }
	</script>
</head>
<body>
	<div class="header_container">
		<div class="header_logout">
			<a class="header_text" th:href="@{/}">ECサイト</a>
			<div>
				<span th:if="${username != null}" class="flex">
					<a class="header_text" th:href="@{/users/1}">ようこそ、<span th:text="${username}">ユーザー</span>さん！</a>
					<a>　</a>
					<a class="header_text" th:href="@{/cart}">カート</a>
					<form th:action="@{/logout}" th:object="${user}" method="post">
					    <div>
					        <button class="header_button" type="submit">ログアウト</button>
					    </div>
					</form>
	            </span>					
				<span th:if="${username == null}">
					<a class="header_text" th:href="@{/login}">ログイン</a>
					<a class="header_text" th:href="@{/signUp}">新規会員登録</a>
				</span>
			</div>
		</div>
	</div>

	<div class="container">
        <h1	class="center_text">お問い合わせ</h1>		
		
		<div th:if="${successMessage}" class="alert alert-success">
            <p class="center_text" th:text="${successMessage}"></p>
        </div>
		
		<form th:action="@{/help/save}" th:object="${help}" method="post" onsubmit="return validateForm()">
		    <div class="text_zone">
		        <label class ="text_title">タイトル:</label>
		        <input class ="text_area" type="text" th:field="*{title}" placeholder="タイトルを入力">
		    </div>
			<div class="text_zone">
		        <label class ="text_title">内容:</label>
		        <textarea class ="text_area" th:field="*{detail}" placeholder="内容を入力"></textarea>
		    </div>
			<button type="submit" class="center_button">送信</button>
		</form>
    </div>
</body>
</html>