<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">	
	<link th:href="@{/css/content.css}" rel="stylesheet">
<title>ユーザー詳細</title>	
	<script>
	    // 数字を3桁ごとにカンマで区切る関数
	    function formatPrice(price) {
	        return '￥' + price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
	    }
	
	    // 商品価格をフォーマットする関数
	    function formatProductPrices() {
	        const priceElements = document.querySelectorAll('.price_format');
	        priceElements.forEach((element) => {
	            const price = element.textContent.replace('￥', '');
	            element.textContent = formatPrice(price);
	        });
	    }
	
	    // DOMがロードされた後に商品価格をフォーマット
	    document.addEventListener('DOMContentLoaded', formatProductPrices);
	</script>
</head>
<body>
	<div class="header_container">
		<div class="header_logout">
			<a class="header_text" th:href="@{/}">ECサイト</a>
			<div>
				<span th:if="${username != null}" class="flex">
					<a class="header_text" th:href="@{/users/1}">ようこそ、<span th:text="${username}">ユーザー</span>さん！</a>
					<a>　</a>
					<a class="header_text" th:href="@{/cart}">カート</a>
					<form th:action="@{/logout}" th:object="${user}" method="post">
					    <div>
					        <button class="header_button" type="submit">ログアウト</button>
					    </div>
					</form>
	            </span>					
				<span th:if="${username == null}">
					<a class="header_text" th:href="@{/login}">ログイン</a>
					<a class="header_text" th:href="@{/signUp}">新規会員登録</a>
				</span>
			</div>
		</div>
	</div>

	<div class="container">
	    <h1	class="center_text">ユーザー詳細</h1>
	    <div class="center_text">
	        <label>ID:</label>
	        <span th:text="${user.id}"></span>
	    </div>
	    <div class="center_text">
	        <label>名前:</label>
	        <span th:text="${user.userName}"></span>
	    </div>
	    <div class="center_text">
	        <label>メールアドレス:</label>
	        <span th:text="${user.mailAddress}"></span>
	    </div>
		<div class="center_text" th:if="${user.id == 1 || user.userAuthority == 1}">
		    <a th:href="@{/admin}">管理画面へ</a>
		</div>
		
		<h2 class="center_text">ユーザー情報編集</h2>
        <form th:action="@{/users/update}" th:object="${user}" method="post" class="center_text">
			<input type="hidden" th:field="*{id}" />
			<div class="text_zone">
                <label class ="text_title" for="userName">名前:</label>
                <input class ="text_area" type="text" id="userName" th:field="*{userName}" required />
            </div>
			<div class="text_zone">
                <label class ="text_title" for="mailAddress">メールアドレス:</label>
                <input class ="text_area" type="email" id="mailAddress" th:field="*{mailAddress}" required />
            </div>
            <div>
                <button	class="center_button" type="submit">更新する</button>
            </div>
        </form><br>		
		
		<h1 class="center_text">マイ商品</h1>
		<div class="products_display">
			<div class="product_design" th:each="product:${products}">			
				<div th:text="'販売者ID：' + ${product.userId}"></div>
				<div class="name_text" th:text="${product.name}"></div>
				<div th:text="${product.description}"></div>
				<div class="price_text" th:text="'￥' + ${product.price}"></div>
				<div class="right_text">
					<a th:href="@{/products/product_detail/{productId}(productId = ${product.id})}">詳細へ</a>
				</div>
			</div>
		</div>
		<div class="pagination">
		    <a th:href="@{/users/{userId}(userId=${user.id}, page=${currentPage - 1})}"
		       th:if="${currentPage > 0}">前へ</a>
			   <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
	   		       <a th:href="@{/users/{userId}(userId=${user.id}, page=${i})}" th:text="${i + 1}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
	   		   </span>
		    <a th:href="@{/users/{userId}(userId=${user.id}, page=${currentPage + 1})}"
		       th:if="${currentPage + 1 < totalPages}">次へ</a>
		</div>
		<br>
		<div class="center_text">
			<a th:href="@{/products}">全ての商品を見る</a><br>
			<a th:href="@{/products/add}" th:if="${loggedInUserId != null and userStatus != 0}">新規商品追加</a>
		</div><br><br>		
		
		<!-- 注文履歴を表示 -->
		<h1 class="center_text">注文履歴</h1>
		<table class="center_text">
		    <thead>
		        <tr>
		            <th	width="10%">商品ID</th>
		            <th	width="35%">商品名</th>
		            <th	width="15%">単価</th>
		            <th	width="10%">数量</th>
		            <th	width="15%">注文日</th>					
					<th width="15%">ステータス</th>
		        </tr>
		    </thead>
		    <tbody>
				<tr th:each="order, iterStat : ${orders}" th:if="${iterStat.count <= 3}">
                    <td	class="right_text" th:text="${order.product.id}"></td>					
					<td>
					    <a th:href="@{/products/product_detail/{productId}(productId = ${order.product.id})}" th:text="${order.product.name}"></a>
					</td>
                    <td	class="price_format" th:text="'￥' + ${order.product.price}"></td>
                    <td	class="quantity" th:text="${order.quantity}"></td>
                    <td th:text="${#dates.format(order.createdAt, 'yyyy/MM/dd')}"></td>					
					<td th:text="${order.orderStatus == 0 ? '未発送' : '発送済'}"></td>
                </tr>
		    </tbody>
		</table><br>		
		<div class="center_text">
			<a th:href="@{/orderHistory}">全ての注文履歴を見る</a>
		</div><br><br>		
				
		<h1 class="center_text">受注履歴</h1>		
		<div class="center_text">未発送の商品は、速やかに発送を行いましょう</div><br>
		<table class="center_text">
		    <thead>
		        <tr>
		            <th width="10%">商品ID</th>
		            <th width="35%">商品名</th>
		            <th width="15%">単価</th>
		            <th width="10%">数量</th>
		            <th width="15%">注文日</th>
		            <th width="15%">ステータス</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="order, iterStat : ${managedOrders}" th:if="${iterStat.count <= 3}">
		            <td class="right_text" th:text="${order.product.id}"></td>
		            <td>
		                <a th:href="@{/products/product_detail/{productId}(productId = ${order.product.id})}" th:text="${order.product.name}"></a>
		            </td>
		            <td class="price_format" th:text="'￥' + ${order.product.price}"></td>
		            <td class="quantity" th:text="${order.quantity}"></td>
		            <td th:text="${#dates.format(order.createdAt, 'yyyy/MM/dd')}"></td>
		            <td th:text="${order.orderStatus == 0 ? '未発送' : '発送済'}"></td>
		        </tr>
		    </tbody>
		</table><br>		
		<div class="center_text">
			<a th:href="@{/orderManagement}">全ての注文管理を見る</a>
		</div><br><br>
		
		<h1 class="center_text">お問い合わせ</h1>
		<div class="center_text">
			<a th:href="@{/help}">お問い合わせはこちらから</a>
		</div>
	</div>
</body>
</html>
